<h1>FireBase</h1>

<h3>Add An New Course</h3>
<input type="text" #course (keyup.enter)="addCourse(course)">

<h3>list of object</h3>
<ul>
  <li *ngFor="let course of courses$ | async let index=index">{{course.name }} {{ index }}  - <b>{{course.price}}</b>
    <input type="text" #course1 (keyup.enter)="editCourse(course1,index)"/>
    <input type="number" #course2 (keyup.enter)="editCourse(course2,index)"/>
    <button type="number"  (click)="deleteCourse(index)">Delete</button>

  </li>
</ul>
<h3>single object</h3>
<p>{{course$ | async | json}}</p>
<p>{{(course$ | async)?.name}}</p>

<div *ngIf="course$ | async as aliasNameWithAs">
  {{aliasNameWithAs.name}}
</div>